/*.gitignore*/

startdde
.tag*
tags
cscope*
dialogUI/build/
dialogUI/resources/shutdown/js/powerchoosedialog.js
dialogUI/resources/shutdown/js/shutdowndialog.js
dialogUI/resources/shutdown/js/rebootdialog.js
dialogUI/resources/shutdown/js/logoutdialog.js
*.sw[po]
*.log
*~
*.orig
core
*.pyc
try/

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
*.js
test_main.go
