[Unit]
Description=A task of dde-display service, to refresh brightness

Wants=dde-session-daemon.target
After=dde-session-daemon.target


[Service]
Type=simple
ExecStart=/usr/bin/dbus-send --print-reply --dest=org.deepin.dde.Display1 /org/deepin/dde/Display1 org.deepin.dde.Display1.RefreshBrightness
